<div class="container user-page">
  <p class="text-center pt-2"></p>

   <h2>ユーザー情報<i class="fa-solid fa-user"></i></h2>
       <% if @user.image.attached? %>
       <%= image_tag @user.image, size: "100x100" %>
       <% end %>
     <table class="table">
        <tbody>
         <tr>
          <th>ユーザー名</th>
          <th><%= @user.name %></th>
         </tr>
         <tr>
          <th>プロフィール</th>
          <th><%= @user.introduction %></th>
         </tr>
        </tbody>
      </table>
      <div class="row">
         <%= link_to edit_user_user_path(@user.id), class: 'btn btn-outline-secondary btn-block' do %>
         <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

  <div class="col-md-8 offset-md-1">
  <h3>いいねしている投稿一覧</h3>
  <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>ユーザー</th>
      <th>タイトル</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
  　<% @user.liked_posts.each do |post| %>
  　<tr>
     <td><%= post.user.name %></td>
     <td><%= post.title %></td>
  　</tr>
  　<% end %>
    </tbody>
   </table>
  </div>

  <h2 class="mt-3">新規投稿</h2>
  <%= form_with model:@post,url: user_posts_path, local:true do |f| %>
   <div class="form-group">
     <label>画像</label>
      <%= f.file_field :image, accept: "image/*" %>
   </div>

   <div class="form-group">
    <label>タイトル</label>
      <%= f.text_field :title %>
   </div>

   <div class="form-group">
    <label>感想</label>
      <%= f.text_area :impression %>
   </div>

   <div class="form-group">
    <label>住所</label>
      <%= f.text_field :address %>
   </div>

   <div class='form-group'>
     <label>タグ</label>
     <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
       <div class='form-check'>
         <%= tag.label class: 'form-check-label' do %>
             <%= tag.check_box class: 'form-check-input' %>
             <%= tag.text %>
         <% end %>
       </div>
     <% end %>
   </div>

   <div class="form-group">
      <%= button_tag :type => "submit", :class=>"btn btn-default btn-s-md" do %>
       <i class="fas fa-circle"></i>投稿
   </div>
   <% end %>



   <h3>タイトル検索<i class="fa-solid fa-magnifying-glass"></i></h3>
  <%= form_with url: search_user_posts_path, method: :get, local: true do |f| %>
  <%= f.text_field :title %>
  <%= f.submit :search %>
<% end %>

<h3>タグ検索<i class="fa-solid fa-magnifying-glass"></i></h3>
<%= form_tag({controller:"user/posts",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%= submit_tag '検索' %>
<% end %>

 <div class="col-md-8 offset-md-1">
   <h2>投稿一覧</h2>
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>ユーザー</th>
      <th>タイトル</th>
      <th>感想</th>
      <th>住所</th>
      <th>コメント</th>
      <th>いいね</th>
      <th colspan="3"></th>
     </tr>
    </thead>
     <tbody>
      <% @posts.each do |post| %>
      <tr>
       <td>
        <% if @user.image.attached? %>
        <%= image_tag post.user.image, size: "50x50" %>
        <% end %>
       </td>
       <td><%= link_to post.title, user_post_path(post.id)%></td>
       <td><%= post.impression %></td>
       <td><%= post.address %></td>
       <td><%=link_to "#{post.comments.count}コメント",user_post_path(post.id) %></td>
       <td><%= post.liked_users.count %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
   </div>


</div>
<% end %>

